<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>assert_equal(${1:expected}, ${0:actual})</string>
	<key>name</key>
	<string>assert_equal(..)  (ase)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>ase</string>
	<key>uuid</key>
	<string>3988A501-119E-4C0E-A584-C5E75FC2D6C6</string>
</dict>
</plist>
