<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>each_with_index do |${1:element}, ${2:idx}|
	${1:element}.$0
end</string>
	<key>name</key>
	<string>each_with_index do (each_with_indexo)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>each_with_indexo</string>
	<key>uuid</key>
	<string>D982D275-2E9F-4E73-B049-CC3D26CDD23D</string>
</dict>
</plist>
