<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>each do |${1:element}|
	${1:element}.$0
end</string>
	<key>name</key>
	<string>each element do (eacho)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>eacho</string>
	<key>uuid</key>
	<string>E1AC214F-BB9D-4291-880F-2FFC766F6B72</string>
</dict>
</plist>
