<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>inject(${1:object}) do |${2:injection}, ${3:element}| 
	$0
end</string>
	<key>name</key>
	<string>inject object do (injecto)</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>tabTrigger</key>
	<string>injecto</string>
	<key>uuid</key>
	<string>C1C179B1-5AC9-47B7-8B2D-E9ABE5885353</string>
</dict>
</plist>
