{
	name = "HTML (Ruby)";
	scopeName = "text.html.ruby";
	fileTypes = ( rhtml );
	foldingStartMarker = "(<(?i:(head|table|div|style|script|ul|ol|form|dl))\\>.*?>|\\{)";
	foldingStopMarker = "(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})";
	patterns = (
        {   include = "text.html.basic"; },
		{   name = "source.ruby.embedded.html";
		    begin = "(<%)"; end = "(%>)";
    		beginCaptures = { 1 = { name = "keyword.markup.tag.html"; }; };
    		endCaptures = { 1 = { name = "keyword.markup.tag.html"; }; };
    		patterns = ( { include = "source.ruby"; } );
		},
		{   name = "source.php.embedded.html";
		    begin = "(<\\?(php|=)?)"; end = "(\\?>)";
    		beginCaptures = { 1 = { name = "keyword.markup.tag.html"; }; };
		    endCaptures = { 1 = { name = "keyword.markup.tag.html"; }; };
			patterns = ( { include = "source.php"; } );
		},
		{   name = "source.css.embedded.html";
		    begin = "<(?i:style)\\>(?s:(.*?))>"; end = "</(?i:style)>";
			patterns = ( { include = "source.css"; } );
		},
		{   name = "source.js.embedded.html";
		    begin = "<(?i:script)\\>(?s:(.*?))>"; end = "</(?i:script)>";
    		patterns = ( { include = "source.js"; } );
		},
	);
	uuid = "E2272BB2-6B1C-11D9-A71A-000D93589AF6";
}
