{
	name = "Ruby";
	fileTypes = ( rb, cgi, fcgi );

  foldingStartMarker = "^\\s*(def|class)\\>(?!.*\\<end\\>\\s*(#.*)?$)";
  foldingStopMarker = "(^\\s*end|;\\s*end)\\s*(#.*)?$";
  increaseIndentPattern = "^\\s*(module|class|begin|def|if|else|elsif|unless|case|when|rescue|for|while|unless|[^#\"']*\\<do)\\>.*$";
  smartTypingPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" ),
      ( "\"", "\"" ), ( "'", "'" )
  );
  highlightPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" )
  );

	foregroundColor = "#ffffff";
	backgroundColor = "#000000";

	patterns = (
		{ name = "keywords.ruby"; foregroundColor = "#CC7833"; match = "\\<(__LINE__|__FILE__|BEGIN|END|alias|alias_method|attr_reader|attr_writer|attr_accessor|and|begin|break|case|class|def|defined|do|else|elsif|end|ensure|false|for|if|in|include|module|next|nil|not|or|raise|redo|rescue|retry|return|require|self|super|then|true|undef|unless|until|when|while|yield|private|public|protected)\\>"; },
		{ name = "constants.numeric.ruby"; match = "\\<((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\>"; foregroundColor = "#3387CC"; },


		{ name = "keywords.functions.rails.ruby"; foregroundColor = "#CC3833"; match = "\\<(before_filter|after_filter|filter|layout|render|render_action|render_text|render_file|render_template|url_for|redirect_to|redirect_to_path|redirect_to_url|composed_of|belongs_to|has_one|has_many|has_and_belongs_to_many)\\>";
		},

		{ name = "keywords.functions.method-with-arguments.ruby"; match = "^\\s*(def\\>)\\s*([.a-zA-Z_?!]+)\\s*\\((.*)\\)";
			"foregroundColor[1]" = "#CC7833";
			"fontStyle[3]" = ( italic );
		},

		{ name = "keywords.functions.method-without-arguments.ruby"; match = "^\\s*(def\\>)\\s*([.a-zA-Z_?!]+)";
			"foregroundColor[1]" = "#CC7833";
		},

		{ name = "keywords.class.ruby"; match = "^\\s*(class)\\s+([.a-zA-Z_: <]+)";
			"foregroundColor[1]" = "#CC7833";
			"fontStyle[2]" = ( underline );
		},

		{ name = "keywords.variables.symbol.ruby"; match = "\\s+(:[a-zA-Z_?!]+)";
			"foregroundColor[1]" = "#3387CC";
		},

		{ name = "keywords.variables.symbol-with-leading-character.ruby"; match = "[^:](:[a-zA-Z_?!]+)";
			"foregroundColor[1]" = "#3387CC";
		},

		{ name = "strings.single-quoted.ruby"; begin = "'"; end = "'"; swallow = "\\\\."; foregroundColor = "#66CC33"; },
    { name = "strings.double-quoted.ruby"; begin = "\""; end = "\""; swallow = "\\\\."; foregroundColor = "#66CC33";
      patterns = (
        { name = "strings.interpolation.ruby"; match = "#\\{([^\\}]*)\\}"; foregroundColor = "#aaaaaa"; }
      );
    },
    { name = "strings.double-quoted.ruby.mod"; begin = "%\\{"; end = "\\}";  foregroundColor = "#66CC33";
      patterns = (
        { name = "strings.interpolation.ruby"; match = "#\\{([^\\}]*)\\}"; foregroundColor = "#aaaaaa"; }
      );
    },
    { name = "strings.regexp.ruby.classic"; begin = "/(?=\\S.*/)"; end = "/";  foregroundColor = "#CCCC33";
      patterns = (
        { name = "strings.interpolation.ruby"; match = "#\\{([^\\}]*)\\}"; foregroundColor = "#aaaaaa"; },
        { name = "strings.regexp.escaped.slash.ruby"; match = "\\\\/"; foregroundColor = "#CCCC33"; }
      );
    },
    { name = "strings.regexp.ruby.mod-r"; begin = "%r\\{"; end = "\\}";  foregroundColor = "#CCCC33";
      patterns = (
        { name = "strings.regexp.escaped.chars.ruby"; match = "\\."; },
        { name = "strings.regexp.arbitrary-repitition.ruby"; match = "\\{\\d+(,\\d+)?\\}"; },
        { name = "strings.interpolation.ruby"; match = "#\\{([^\\}]*)\\}"; foregroundColor = "#aaaaaa"; },
        { name = "strings.regexp.escaped.slash.ruby"; match = "\\\\/"; foregroundColor = "#CCCC33"; }
      );
    },

		{ name = "comments.block.embedded-docs.ruby"; begin = "^=begin"; end = "^=end"; swallow = "\\\\."; foregroundColor = "#9933CC"; },
		{ name = "comments.line.ruby"; match = "#[^{](.*)"; "fontStyle" = ( italic ); foregroundColor = "#9933CC"; },
		{ name = "comments.line.ruby"; match = "#$"; "fontStyle" = ( italic ); foregroundColor = "#9933CC"; }
	);
	uuid = "E00B62AC-6B1C-11D9-9B1F-000D93589AF6";
}

