{
	name = "Ruby";
	fileTypes = ( rb );

  foldingStartMarker = "^\\s*(def|class)\\>(?!.*\\<end\\>\\s*(#.*)?$)";
  foldingStopMarker = "(^\\s*end|;\\s*end)\\s*(#.*)?$";
  increaseIndentPattern = "^\\s*(module|class|begin|def|if|else|elsif|unless|case|when|rescue|for|while|unless|[^#\"']*\\<do)\\>(?!.*?;.*?\\<end\\>).*$";
  smartTypingPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" ),
      ( "\"", "\"" ), ( "'", "'" ), ( "|", "|" )
  );
  highlightPairs = (
      ( "(", ")" ), ( "[", "]" ), ( "{", "}" )
  );

	foregroundColor = "#ffffff";
	backgroundColor = "#000000";

	patterns = (
	   // everything being a reserved word, not a value and needing a 'end' is a..
		{  name = "keywords.reserved-words.blocking.ruby";
		   foregroundColor = "#CC7833";
		   match = "\\<(BEGIN|begin|case|class|def|do|else|elsif|END|end|ensure|for|if|in|module|rescue|then|unless|until|when|while)\\>";
		},
		
		// as above, just doesn't need a 'end' and does a logic operation
		{  name = "keywords.reserved-words.logical.ruby";
		   foregroundColor = "#CC7833";
		   match = "\\<(and|not|or)\\>";
		},
		
		// just as above but being not a logical operation
		{  name = "keywords.reserved-words.pseudo-methods.ruby";
		   foregroundColor = "#CC7833";
		   match = "\\<(alias|alias_method|break|next|redo|retry|return|super|undef|yield\\>)|\\<defined[?]";
		},
		
		// every reserved word, being a value is a..
		{  name = "keywords.reserved-words.pseudo-variables.ruby";
		   foregroundColor = "#CC7833";
         match = "\\<(nil|true|false|__(FILE|LINE)__|self)\\>";
		},
		
		// everything beeing a method but having a special funtion is a..
		{  name = "keywords.functions.special-methods.ruby";
		   foregroundColor = "#CC7833";
		   match = "\\<(initialize|new|loop|include|require|raise|attr_reader|attr_writer|attr_accessor|attr|catch|throw|private|public|protected)\\>";
		},
		
		
		{  name = "variables.instance-variables.ruby";
		   foregroundColor = "#e9c5a7";
		   match = "@[a-zA-Z_]\\w*";
		},
      
		{  name = "variables.class-variables.ruby";
		   foregroundColor = "#e9c5a7";
		   match = "@@[a-zA-Z_]\\w*";
		},
      
		{  name = "variables.globals.ruby";
		   foregroundColor = "#e9c5a7";
		   match = "\\$[a-zA-Z_]\\w*";
		},
		
		{  name = "variables.globals.pre-defined.ruby";
		   foregroundColor = "#e9c5a7";
		   match = "\\$(!|@|&|`|'|\\+|\\d|~|=|/|\\\\|,|;|\\.|<|>|_|\\*|\\$|\\?|:|\"|-[0adFiIlpv])";
		},
		
		// just catch it and dont set any colors..
		{  name = "variables.constants.ruby";
		   match = "\\<[A-Z]\\w*\\>";
		},
		
		
		// { name = "keywords.constants.regexp.ruby"; match = "\\$(`|\\.|')"; fontStyle = ( bold ); },

		{ name = "keywords.functions.method-with-arguments.ruby"; match = "^\\s*(def\\>)\\s*([.a-zA-Z_?!]+)\\s*\\((.*)\\)";
			"foregroundColor[1]" = "#CC7833";
			"fontStyle[3]" = ( italic );
		},

		{ name = "keywords.functions.method-without-arguments.ruby"; match = "^\\s*(def\\>)\\s*([.a-zA-Z_?!]+)";
			"foregroundColor[1]" = "#CC7833";
		},

		{ 
			name = "keywords.functions.identifier.ruby"; match = "[a-z][a-zA-Z0-9_?!]*";
			//foregroundColor = "#FF3333"; 
		},

		{ 
			name = "constants.numeric.ruby"; 
			match = "(\\<((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(L|l|UL|ul|u|U|F|f)?\\>)|((?<!\\w)\\?\\S)"; 
			foregroundColor = "#3387CC"; 
		},
			
		{ name = "keywords.class.ruby"; match = "^\\s*(class)\\s+([.a-zA-Z0-9_:]+(\\s*<\\s*[.a-zA-Z0-9_:]+)?)";
			"foregroundColor[1]" = "#CC7833";
			"fontStyle[2]" = ( underline );
			"fontStyle[3]" = ( italic );
		},

		/*{ name = "keywords.variables.symbol.ruby"; match = "\\s+(:[a-zA-Z_?!<>]+|:'.*?'?)";
			"foregroundColor[1]" = "#3387CC";
		},*/

		{ name = "keywords.variables,symbol.single-quoted.ruby"; begin = ":'"; end = "'"; swallow = "\\\\['\\\\]"; foregroundColor = "#3387CC"; },
		{ name = "keywords.variables.symbol.double-quoted.ruby"; begin = ":\""; end = "\""; swallow = "\\\\."; foregroundColor = "#3387CC";
		  patterns = (
		    { name = "strings.interpolation.ruby"; match = "#\\{([^\\}]*)\\}"; foregroundColor = "#aaaaaa"; }
		  );
		},

		{
			/*
			single quoted string (does not allow interpolation):
			'hello #{42} world'   #->  "hello #{42} world"
			*/
			name = "strings.single-quoted.ruby"; 
			begin = "'"; 
			end = "'"; 
			swallow = "\\\\."; 
			foregroundColor = "#66CC33"; 
		},

	    { 
	    	/*
	    	double quoted string (allows for interpolation):
	    	"hello #{42} world"   #->  "hello 42 world"
	    	"hello #@ivar world"  #->  "hello 42 world"
	    	"hello #@@cvar world" #->  "hello 42 world"
	    	"hello #$gvar world"  #->  "hello 42 world"
	    	*/
			name = "strings.double-quoted.ruby"; 
			begin = "\""; 
			end = "\""; 
			swallow = "\\\\."; 
			foregroundColor = "#66CC33";
	    	patterns = (
	        	{ 
					name = "strings.interpolation.ruby"; 
					match = "#(\\{([^\\}]*)\\}|@{1,2}[a-zA-Z0-9_]+|[$][a-zA-Z0-9_]+)"; 
					foregroundColor = "#aaaaaa"; 
				}
	    	);
	    },

	    {
	    	/*
	    	literal string (allows for interpolation):
	    	%{x#{4}x}   #-> "x4x"
	    	*/
	    	name = "strings.double-quoted.ruby.mod"; 
	    	begin = "%\\{"; 
	    	end = "\\}";  
	    	foregroundColor = "#66CC33";
	    	patterns = (
	        	{
	    			name = "strings.interpolation.ruby"; 
	    			match = "#\\{([^\\}]*)\\}"; 
	    			foregroundColor = "#aaaaaa"; 
	    		}
	      	);
	    },

	    { 
	    	/*
	    	execute string (allows for interpolation):
	    	`ls`   #-> ".\n..\nREADME\nmain.rb"
	    	*/
	    	name = "strings.back-quoted.ruby"; 
	    	begin = "`"; 
	    	end = "`"; 
	    	swallow = "\\\\."; 
	    	foregroundColor = "#000000";
	    	backgroundColor = "#CCCC33";
	    	patterns = (
	        	{ 
	    			name = "strings.interpolation.ruby"; 
	    			match = "#\\{([^\\}]*)\\}"; 
	    			foregroundColor = "#555555"; 
	    		}
	    	);
	    },
	
	    {
			/*
			regular expressions (normal):
			/<regexp>/<options>
			*/
			name = "strings.regexp.ruby.classic"; 
			begin = "/(?=\\S.*/)"; 
			end = "/[eimnosux]*";
			swallow = "\\\\."; 
			foregroundColor = "#CCCC33";
	    	patterns = (
	        	{
					name = "strings.interpolation.ruby"; 
					match = "#\\{([^\\}]*)\\}"; 
					foregroundColor = "#aaaaaa"; 
				},
	        	{ 
					name = "strings.regexp.escaped.slash.ruby"; 
					match = "\\\\/"; 
					foregroundColor = "#CCCC33"; 
				}
	    	);
	    },
	
	    { 
	    	/*
	    	regular expressions (literal):
	    	%r{<regexp>}<options>
	    	*/
			name = "strings.regexp.ruby.mod-r"; 
			begin = "%r\\{"; 
			end = "\\}[eimnosux]*";  
			foregroundColor = "#CCCC33";
	    	patterns = (
	        	{ 
					name = "strings.regexp.escaped.chars.ruby"; 
					match = "\\."; 
				},
	       		{ 
					name = "strings.regexp.arbitrary-repitition.ruby"; 
					match = "\\{\\d+(,\\d+)?\\}"; 
				},
	        	{ 
					name = "strings.interpolation.ruby"; 
					match = "#\\{([^\\}]*)\\}"; 
					foregroundColor = "#aaaaaa"; 
				},
	        	{ 
					name = "strings.regexp.escaped.slash.ruby"; 
					match = "\\\\/"; 
					foregroundColor = "#CCCC33"; 
				}
	    	);
	    },

	    { 
			/* 
			literal capable of interpolation:    
			%W(a b#{42}c) #-> ["a", "b42c"]
			*/
			name = "strings.upper-literal.ruby";
			begin = "%[QWSR]\\("; 
			end = "\\)"; 
			swallow = "\\\\."; 
			foregroundColor = "#CCCC33";
	    	patterns = (
	        	{
					name = "strings.interpolation.ruby"; 
					match = "#\\{([^\\}]*)\\}"; 
					foregroundColor = "#aaaaaa"; 
				}
	    	);
	    },

	    { 
			/* 
			literal incapable of interpolation:
			%w(a b#{42}c) #-> ["a", "b#{42}c"]
			*/
			name = "strings.lower-literal.ruby"; 
			begin = "%[qws]\\("; 
			end = "\\)"; 
			swallow = "\\\\."; 
			foregroundColor = "#CCCC33";
	    },

   	    { 
			// this rule exists only to prevent the 'keywods.variables.symbol.ruby'
			// from matching non-symbol strings such as   Regexp::MULTILINE
			name = "dummy.class-member.ruby"; 
			match = "([a-zA-Z_][a-zA-Z0-9_]*::[a-zA-Z_][a-zA-Z0-9_?!]*)";
		},

	    { 
			name = "keywords.variables.symbol.ruby"; 
	 		match = "(:[a-zA-Z0-9_?!<>]+)";
	    	"foregroundColor[1]" = "#3387CC";
	    },

		{ name = "comments.block.embedded-docs.ruby"; begin = "^=begin"; end = "^=end"; swallow = "\\\\."; foregroundColor = "#9933CC"; },
		{ name = "comments.line.ruby"; match = "#[^{](.*)"; "fontStyle" = ( italic ); foregroundColor = "#9933CC"; },
		{ name = "comments.line.ruby"; match = "#$"; "fontStyle" = ( italic ); foregroundColor = "#9933CC"; }
	);
	uuid = "E00B62AC-6B1C-11D9-9B1F-000D93589AF6";
}

