<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#	check if we have SELECTED_TEXT
[[ "$TM_SELECTED_TEXT" != "" ]] &amp;&amp; MY_FUNC_TO_CHECK="$TM_SELECTED_TEXT"
#	check if we have MY_FUNC_TO_CHECK
[[ "$MY_FUNC_TO_CHECK" == "" ]] &amp;&amp; MY_FUNC_TO_CHECK="$TM_CURRENT_WORD"

# this requires Ruby &gt; 1.8.1 or an earlier version with ri installed. 
ri -Tf html "$MY_FUNC_TO_CHECK"
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Lookup Ruby Docs</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>013EE699-7FD7-11D9-8343-000A95A89C98</string>
</dict>
</plist>
