<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby -w

require "#{ENV["TM_SUPPORT_PATH"]}/lib/exit_codes"
require "#{ENV["TM_SUPPORT_PATH"]}/lib/escape"

unless term = STDIN.read
  TextMate.exit_show_tool_tip("Please select a term to look up.")
end
term.strip!

linked_ri     = "#{ENV["TM_BUNDLE_SUPPORT"].sub(" ", "\\ ")}/bin/linked_ri.rb"
documentation = `#{linked_ri} #{term}` rescue "&lt;h1&gt;ri Command Error.&lt;/h1&gt;"

puts &lt;&lt;-HTML
&lt;html&gt;&lt;head&gt;
  &lt;title&gt;RDoc for #{term}&lt;/title&gt;
  &lt;style type="text/css" media="screen"&gt;
    #{File.read("#{ENV["TM_BUNDLE_SUPPORT"]}/pastel.css")}
  &lt;/style&gt;
  &lt;script type="text/javascript" charset="utf-8"&gt;
    function ri (arg) {
			var res = TextMate.system("#{linked_ri.sub("\\", "\\\\\\\\")} '" + arg + "'", null).outputString;
			document.getElementById("actual_output").innerHTML = res;
			window.location.hash = "actual_output";
		}
  &lt;/script&gt;
&lt;/head&gt;&lt;body&gt;
  &lt;div id="script_output" class="framed"&gt;
    &lt;div id="actual_output"&gt;
      #{documentation}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;&lt;/html&gt;
HTML
</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Word / Selection</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>63F3B3B7-CBE2-426B-B551-657733F3868B</string>
</dict>
</plist>
