<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>[[ $TM_WARN_LEVEL -gt 0 ]] &amp;&amp; w='-w' || w=''
${TM_RUBY:=ruby} $w -- "$TM_BUNDLE_SUPPORT/tmruby.rb" "$TM_FILEPATH"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Ruby</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>8C102BE9-6E49-11D9-A933-000D93589AF6</string>
</dict>
</plist>
