<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Save file, use tmp-file if there's no filepath.
[[ -z "$TM_FILEPATH" ]] &amp;&amp; TM_TMPFILE=$(mktemp -t rubymate)
: "${TM_FILEPATH:=$TM_TMPFILE}"; cat &gt;"$TM_FILEPATH"

[[ ${TM_WARN_LEVEL:-0} &gt; 0 ]] &amp;&amp; w='-w' || w=''
${TM_RUBY:-ruby} $w -- "$TM_BUNDLE_SUPPORT/tmruby.rb" ${TM_TMPFILE:+-t} "$TM_FILEPATH"

rm -f "$TM_TMPFILE"
</string>
	<key>input</key>
	<string>document</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>8C102BE9-6E49-11D9-A933-000D93589AF6</string>
</dict>
</plist>
