<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># if there's no file, create a tmp file
if [[ -z "$TM_FILEPATH" ]]; then
   TM_RUBYMATE_TMPFILE=$(mktemp -t rubymate)
fi

# save file, add shebang if it's missing (RubyMate needs it)
{  read SHEBANG
#  if [[ "${SHEBANG:0:2}" != "#!" ]]; then
#     echo "#!${TM_RUBY:-/usr/bin/env ruby}"
#  fi
   echo "$SHEBANG"; cat; } &gt;"${TM_FILEPATH:=$TM_RUBYMATE_TMPFILE}"

[[ ${TM_WARN_LEVEL:-0} &gt; 0 ]] &amp;&amp; w='-w' || w=''
${TM_RUBY:-ruby} $w -- "$TM_BUNDLE_SUPPORT/tmruby.rb" "$TM_FILEPATH"

# remove our potential tmp file
if [[ -e "$TM_RUBYMATE_TMPFILE" ]]; then
   rm "$TM_RUBYMATE_TMPFILE"
fi</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.ruby</string>
	<key>uuid</key>
	<string>8C102BE9-6E49-11D9-A933-000D93589AF6</string>
</dict>
</plist>
