<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>}</string>
	<key>name</key>
	<string>Overwrite '}' in #{ .. }</string>
	<key>scope</key>
	<string>source.ruby string meta.embedded.line.ruby punctuation.section.embedded.end</string>
	<key>uuid</key>
	<string>E5158F94-CC52-4424-A495-14EF9272653F</string>
</dict>
</plist>
